@use "../../../../../assets/styles/index.scss" as *;

.team{
    display: flex;
    position: relative;

    @include xsm{
        flex-direction: column;
    }

    >:nth-child(1){
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: color(text-yellow-90);
        left: 50% !important;
        top: 0 !important;

        @include xsm{
            display: none;
        }
    }

    .left{
        width: 50%;

        @include xsm{
            width: 100%;
        }
    }

    .right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include xsm{
            width: 100%;
            position: relative;
        }

        .dividerTop{
            display: none;

            @include xsm{
                display: inline-block;
                background-color: color(text-yellow-90);
                position: absolute;
                width: 100%;
                height: 1px;
                top: 0;
                left: 0;
            }
        }

        p:first-child{
            width: rm(336);
            text-align: center;
            color: color(text-black);
            font-size: font(48);
            @include font-dune-regular;
            line-height: 160%;

            @include lg{
                font-size: font(40);
            }

            @include xsm{
                width: rm(500);
                font-size: font(32);
                margin-top: rm(32);
                margin-bottom: rm(32);
            }
        }
    }
}