@use '../../assets/styles/index.scss' as *;



.loader{
    width: 100%;
    height: 100%;
    position: fixed;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 

    .content{
        width: rm(48);
        height: rm(48);
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before{
        content: '';
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 10000;
        // transition: opacity .7s ease-in-out;
    }
}

.loaderActive{
    z-index: 10000;

    &::before{
        z-index: 1000;
        opacity: 1 !important;
    }
}

.mint{
    padding-left: rm(64);
    background-color: color(bg);

    @include lg{
        padding-left: rm(32);
    }

    @include md{
        padding-left: 0;
    }

    .payButton{

        background-color: color(text-black) !important;

        // img{
        //     display: none;
        // }
    }

    .container{
        display: flex;
        width: 100%;

        @include md{
            flex-direction: column;
        }

        .videoWrapper{
            position: relative;
            width: 50%;
            z-index: 1000;
            height: rm(896);

            @include md{
                width: 100%;
                height: 100vh;
            }

            @include xsm{
                height: rm(600);
            }

            >:nth-child(1){
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include xsm{
                    object-fit: fill;
                }
            }
        }


        .right{
            padding-bottom: rm(32);
            width: 50%;
            position: relative;

            @include md{
                width: 100%;
            }

            @include xsm{
                padding-bottom: rm(0);
            }

            .third{
                padding-left: rm(64);
                padding-right: rm(64);
                padding-top: rm(48);

                @include lg{
                    padding-left: rm(32);
                    padding-right: rm(32);
                }

                @include md{
                    padding-top: rm(24);
                    padding-bottom: rm(24);
                }

                @include xsm{
                    padding-left: rm(32);
                    padding-right: rm(32);
                }
                
                .signOption{
                    // cursor: pointer;
                    padding: rm(30) rm(20);
                    transition: color .7s ease-in-out;
                    background-color: color(text-black) !important;
                    text-align: center;
                    margin-top: rm(15);


                    span{
                        width: 100%;
                        font-size: font(20);
                        @include font-dune-regular;
                        margin-bottom: rm(-5);
                        color: color(text-brown-88);
                    }

                    &:hover{
                        color: color(text-brown-38) !important;
                    }
                }

                .wrapper, .signOption{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    background-color: color(text-black);
                    color: color(text-brown-88);
                    align-items: center;


                    .amount{
                        font-size: font(32);
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: rm(15);
                        @include font-dune-regular;
                        width: 50%;
                        padding: rm(30) rm(20);

                        p{
                            user-select: none;
                        }

                        div{
                            cursor: pointer;

                            
                            &:hover{
                                svg{
                                    color: color(text-brown-38) !important;
                                }
                            }
                        }

                        span{
                            width: rm(32);
                            height: rm(32);

                            svg{
                                color: color(text-brown-88);
                                transition: color .7s ease-in-out;
                            }
                        }
                    }

                    .costs{
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        width: 50%;
                        padding: rm(30) rm(20);
                        transition: color .7s ease-in-out;


                        &:hover{
                            color: color(text-brown-38) !important;
                        }

                        >p:first-child{
                            font-size: font(32);
                            line-height: 120%;
                            @include font-dune-regular;
                        }

                        div{
                            display: flex;
                            gap: rm(5);

                            p{
                                font-size: font(16);
                                @include font-work-regular;
                                line-height: 160%;
                            }
                        }
                    }
                }
            }

            .second{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: rm(14);
                padding-left: rm(64);
                padding-right: rm(64);
                padding-top: rm(48);

                @include lg{
                    padding-left: rm(32);
                    padding-right: rm(32);
                }

                @include xsm{
                    padding-left: rm(32);
                    padding-right: rm(32);
                    padding-top: rm(24);
                }
    
    
                .complition{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

    
                    p{
                        font-size: font(32);
                        @include font-dune-regular;
                        line-height: 160%;
                        color: color(text-brown-38);

                        @include xsm{
                            font-size: font(24);
                        }
                    }

                    .last{
                        font-size: font(16) !important;
                        @include font-work-regular;
                    }
                }
    
                .line{
                    height: rm(8);
                    display: flex;
    
                    .leftLine{
                        background-color: color(text-brown-38);
                    }
    
                    .rightLine{
                        border: 1px color(text-yellow-90) solid;
                        border-left: none;
                    }
                }
            }
            
            .first{
                display: flex;
                flex-direction: column;
                padding-bottom: rm(64);
                position: relative;
                padding-left: rm(64);
                padding-right: rm(64);
                margin-top: rm(64);

                @include lg{
                    padding-left: rm(32);
                    padding-right: rm(32);
                    // margin-top: rm(100);
                }

                @include md{
                    // margin-top: rm(64);
                }

                @include xsm{
                    padding-left: rm(32);
                    padding-right: rm(32);
                    padding-bottom: rm(32);
                    // margin-top: rm(32);
                }

                .divider{
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: color(text-yellow-90);
                }

                >p:first-child{
                    @include font-dune-regular;
                    color: color(text-brown-38);
                    font-size: font(48);
                    margin-bottom: rm(30);

                    @include xsm{
                        font-size: font(32);
                    }
                }
                
                >p:nth-child(2){
                    @include font-work-regular;
                    color: color(text-brown-38);
                    font-size: font(16);
                    margin-bottom: rm(30);
                    white-space: pre-wrap;
                }

                .info{
                    display: flex;
                    gap: rm(50);

                    div{
                        display: flex;
                        gap: rm(20);
                        color: color(text-black);

                        >p:first-child{
                            @include font-work-regular;
                            font-weight: 600 !important;
                        }
                        >p:last-child{
                            @include font-work-regular;
                        }
                    }
                }
            }
        }
    }
}

.walletInfo{
    display: flex;
    align-items: center;
    margin-top: rm(24);
    gap: rm(20);

    >p:first-child{
        font-weight: 600;
        width: rm(205);
    }

    >p:last-child{
        display: flex;
        flex-wrap: wrap;
    }
}