@use "../../../../../assets/styles/index.scss" as *;

.news{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &:hover{
        .imageContainer{
            video{
                transform: scale(1);
            }
        }
    }

    >:nth-child(2){
        height: 100%;
        padding: rm(0);
        padding-bottom: rm(32);

        @include lg{
            padding: rm(0);
            padding-bottom: rm(32);
            margin-top: rm(-32);
        }

        @include md{
            padding: rm(0);
            padding-bottom: rm(32);
            margin-top: rm(-48);
        }

        @include xsm{
            padding: rm(0);
            padding-left: rm(32);
        }
    }

    .imageContainer{
        height: rm(334);
        width: 100%;
        overflow: hidden;

        video{
            width: 100%;
            height: rm(334);
            z-index: 100;
            transform: scale(1.3);
            transition: transform .6s ease-in-out;
        }
    }


    .divider{
        position: absolute;
        background-color: color(text-yellow-90);
        height: 100%;
        width: 1px;
        bottom: rm(0);
        left: 0;
        z-index: 1;

        @include lg{
            height: 95%;
        }

        @include md{
            height: 87.2%;
        }

        @include xsm{
            display: none;
        }
    }

    .dividerRight{
        position: absolute;
        background-color: color(text-yellow-90);
        height: 100%;
        width: 1px;
        bottom: rm(0);
        right: 0;
        z-index: 1;

        @include lg{
            height: 95%;
        }

        @include md{
            height: 87.2%;
        }


        @include xsm{
            display: none;
        }
    }
}