@use "../../assets/styles/index.scss" as *;





.runningLine{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: rm(102);

    // @include 

    .content{
        width: 100%;
        height: 100%;
        background-image: url('/publications.png');
        background-repeat: repeat-x;
    }
}