@use "../../../../../assets/styles/index.scss" as *;

.wrapperBurger {
    padding: rm(32);
    z-index: 999999;
    background-color: color(bg-1);
    overflow: hidden;
}

.avatar {
    position: relative;
    width: rm(64);
    height: rm(64);
    border-radius: 100%;
    overflow: hidden;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.link {
    margin-top: rm(30);
    display: flex;
    flex-direction: column;
    gap: rm(15);

    p {
        cursor: pointer;
        @include font-work-regular;
        color: color(text-brown);
        font-size: font(16);
        line-height: 140%;
    }
}
.button{
    position: relative;
    padding: rm(20) rm(150);
    color: color(text-brown-88);
    font-size: font(16);
    @include font-work-regular();
    font-weight: 600;
    line-height: 140%;
    background-color: color(text-black);
    border: 1px solid color(text-brown-88);
    margin-top: rm(30);
}
.network{
    position: relative;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    margin-top: rm(40);
    >:nth-child(3n){
        &:before{
            display: block;                  
            position: absolute;
            content: '';
            width: 500%;
            height: rm(1);
            background-color: #EAD8B1;
            z-index: 33434;
            top: 0;
            right: rm(-40);
        }
    }
    >:last-child{
        &::after{
            display: block;                  
            position: absolute;
            content: '';
            width: 500%;
            height: rm(1);
            background-color: #EAD8B1;
            z-index: 33434;
            bottom: 0;
            right: rm(-40);
        }
    }
    .iconHeader{
        position: relative;
        width: 100%;
        height: rm(70);
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: rm(24);
            height: rm(24);
        }
    }
}
