@use "../../../../assets/styles/index.scss" as *;

.getStarted{


    .container{
        padding-left: rm(213);
        display: flex;

        @include lg{
            padding-left: rm(100);
            padding-right: rm(100);
            flex-direction: column;
        }

        @include xsm{
            padding: rm(0);
            align-items: center;
        }

        .footer{
            display: none;
    
            @include lg{
                display: flex;
            }

            .block{
                color: color(text-brown);
                @include font-work-regular;
                height: rm(70);
                width: 14.3%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid color(text-yellow-90);
                border-right: 0px;
                cursor: pointer;
                transition: background-color .7s ease;

                @include xsm{
                    width: 25%;
                }

                &:hover{
                    background-color: rgba(	234,	216,	177, .4);
                }
            }

            .block:last-child{
                border: 1px solid color(text-yellow-90);
            }

            @include xsm{
                flex-wrap: wrap;
                width: rm(576);

                .block:nth-child(5){
                    width: 33.3%;
                }

                .block:nth-child(6){
                    width: 33.3%;
                }

                .block:nth-child(7){
                    width: 33.3%;
                    border-right: 0;
                }
            }
    
        }
    }

    .left{
        position: relative;
        padding-bottom: rm(64);

        @include xsm{
            padding-bottom: rm(32);
        }

        .dividerLeft{
            position: absolute;
            left: 0;
            top: 0;
            background-color: color(text-yellow-90);
            width: 1px;
            height: 100%;

            @include xsm{
                display: none;
            }
        }

        .dividerRight{
            position: absolute;
            right: 0;
            top: 0;
            background-color: color(text-yellow-90);
            width: 1px;
            height: 100%;

            @include xsm{
                display: none;
            }
        }

        .title{
            font-size: font(24);
            color: color(text-black);
            line-height: 160%;
            margin-bottom: rm(32);
            width: rm(918);
            font-weight: 600;
            padding: rm(64) rm(64) rm(0) rm(64);

            @include xsm{
                padding: rm(32) rm(32) rm(0) rm(32);
                margin-bottom: rm(16);
                width: 100%;
            }
        }

        .infos{
            display: flex;
            gap: rm(32);
            padding: rm(0) rm(64) rm(0) rm(64);

            @include xsm{
                padding: rm(0) rm(32) rm(0) rm(32);
                gap: rm(13);
            }
        }

        img{
            width: 100%;
            height: rm(468);
            margin-bottom: rm(64);
            margin-top: rm(64);

            @include xsm{
                height: rm(286);
                margin-bottom: rm(32);
                margin-top: rm(32);
            }
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: rm(20);
            width: rm(918);
            margin-bottom: rm(128);
            padding: rm(0) rm(64) rm(0) rm(64);

            @include xsm{
                padding: rm(0) rm(32) rm(0) rm(32);
                width: 100%;
                margin-bottom: rm(64);
            }

            p{
                color: color(text-brown);
                font-size: font(18);
                line-height: 160%;
                white-space: pre-wrap;
            }
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        gap: rm(64);
        padding: rm(64);

        @include lg{
            align-items: center;
        }

        @include xsm{
            padding: rm(0);
            padding-bottom: rm(32);
        }

        .search{
            display: flex;
            align-items: center;

            p{
                width: rm(160);
                font-size: font(16);
                @include font-work-regular;
                color: color(text-black);
                line-height: 160%;
                font-weight: 600;
            }
        }
    }


    .footer{
        display: flex;

        @include lg{
            display: none;
        }

        .block{
            color: color(text-brown);
            @include font-work-regular;
            height: rm(70);
            width: 14.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid color(text-yellow-90);
            border-bottom: 1px solid color(text-yellow-90);
            border-right: 1px solid color(text-yellow-90);
            transition: background-color .7s ease;
            cursor: pointer;

            &:hover{
                background-color: rgba(	234,	216,	177, .4);
            }
        }

        .block:last-child{
            border-right: none;
        }
    }
}