@use "@/assets/styles/index.scss" as *;

.container {
    position: relative;
    width: 100%;
    padding-left: rm(64);
    padding-right: rm(64);
    overflow: hidden;

    @include xsm {
        padding-left: rm(32);
        padding-right: rm(32);
    }

    .containerTable {
        position: relative;
        width: 100%;
        display: grid;
        grid-template: 1fr/1fr 1fr 1fr 1fr;

        @include xsm {
            grid-template: 1fr/1fr 1fr;
        }
    }

    .cell {
        position: relative;
        overflow: hidden;
        width: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        cursor: pointer;

        .wtappercell {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            padding: rm(144.25) rm(64);
            // overflow: hidden;
            @include lg {
                padding: rm(100) rm(64);
            }
            @include xsm {
                padding: rm(112) rm(32);
            }

            .arrow {
                position: relative;
                width: rm(12);
                height: rm(8);
                object-fit: fill;
                margin-top: rm(24);
                display: none;

                @include xsm {
                    display: block
                }

            }

            p {
                @include font-dune-regular();
                color: color(text-brown-38);
                font-size: font(20);
                font-weight: 400;
                line-height: 120%;
                // text-transform: uppercase;
                z-index: 999;
                text-align: center;


            }

            .imageHover {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                height: 140%;
                z-index: 1;
                object-fit: cover;
                opacity: 0;
                visibility: hidden;
                transition: opacity ease 0.3s, visibility ease 0.3s;
            }

            &:hover {
                .imageHover {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity ease 0.3s, visibility ease 0.3s;
                    @include lg{
                        object-fit: fill;
                    }
                    @include xsm {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }






    }
}