@use "../../../assets/styles/index.scss" as *;

.container {
    position: relative;
    display: flex;
    flex-direction: column;

    .header {
        position: relative;
        width: 100%;
        padding: rm(64);
        display: flex;
        justify-content: center;

        @include xsm {
            padding: rm(32);
        }

        h2 {
            @include font-dune-regular();
            color: color(text-brown-38);
            font-size: font(48);
            text-transform: uppercase;

            @include xsm {
                font-size: font(32);
            }
        }
    }

    .wrapperTable {
        position: relative;
        width: 100%;
        padding-left: rm(320);
        padding-right: rm(320);
        @include lg{
            padding-left: rm(200);
            padding-right: rm(200);
        }
        @include md{
            padding-left: rm(64);
            padding-right: rm(64);
        }
        @include xsm {
            padding: 0;
        }
    }
    .wrapperTablecell{
        position: relative;
        width: 100%;
        display: grid;
        grid-template: 1fr/1fr 1fr;
        @include xsm {
            display: flex;
            flex-direction: column;
        }
    }
    .cell {
        position: relative;
        padding: rm(64);
        display: flex;
        flex-direction: column;
        @include xsm {
            padding: rm(32);
        }
        >:nth-child(1) {
            color: color(text-brown-38);
            @include font-work-regular();
            font-size: font(18);
            font-weight: 600;
            line-height: 160%;
        }
        >:nth-child(2) {
            color: color(text-brown-38);
            @include font-work-regular();
            font-size: font(16);
            font-weight: 400;
            line-height: 160%;
            padding-top: rm(32);
        }
    }
}