@use "../../../assets/styles/index.scss" as *;

.avatar {
    position: relative;
    z-index: 10000000;

    @include xsm{
        // margin-left: rm(-70);
        margin-right: rm(21);
    }

    img{
        width: rm(38);
        height: rm(38);
    
    }

    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: rm(100);
    //     height: rm(50);
    // }

    .dropdown {
        opacity: 0;
        position: absolute;
        top: rm(58);
        right: rm(-114);
        z-index: 1;
        transition: all 0.15s ease-in;
        transform: translateY(rm(-7));
        padding: rm(32);
        background-color: #FBF6E8;
        border: 1px color(text-yellow-90) solid;

        @include lg{
            right: rm(-135);
            top: rm(57);
        }

        @include md{
            right: rm(-88);
            top: rm(58);
        }

        @include xsm{
            right: rm(-45);
        }

        .leftDivider{
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: color(text-yellow-90);
            margin-bottom: rm(32);
            top: 0;
            left: 0;
        }

        .bottomDivider{
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: color(text-yellow-90);
            bottom: 0;
            left: 0;
        }

        .userInfo{
            display: flex;
            align-items: center;
            margin-bottom: rm(32);



            .container{
                display: flex;
                flex-direction: column;
                color: color(text-brown);
                @include font-work-regular;
                font-size: font(14);
                margin-left: rm(16);

                p:first-child{
                    font-weight: 600;
                }

            }
        }

        .divider{
            width: 100%;
            height: 1px;
            background-color: color(text-yellow-90);
            margin-bottom: rm(32);
        }

        .options{
            display: flex;
            flex-direction: column;
            gap: rm(15);
           
            p{
                cursor: pointer;
                @include font-work-regular;
                color: color(text-brown);
                font-size: font(16);
                line-height: 140%;    
            }
        }

      }
      
      &:hover .dropdown {
        display: block;
        opacity: 1;
        transform: translateY(0);
        opacity: 1;
      }
      

  }
  