@use '../../../assets/styles/index.scss' as *;

.simpleInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: rm(16);
    padding-bottom: rm(16);
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: color(text-brown-85);
    }


    span {
        // position: absolute;
        // left: 0;
        // bottom: 40%;
        // position: relative;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0%, -50%);
        width: rm(32);
        height: rm(32);
    }

    // .inputDivider {
    //     position: relative;
    //     margin-bottom: rm(16);
    //     width: 100%;
    //     height: 1px;

    //     >* {
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         width: 100%;
    //         height: 100%;
    //         transform: translate(-50%, -50%);
    //         transition: .3s transform ease, .3s background-color ease;
    //     }

    //     > :first-child {
    //         background: #EAD8B1;
    //     }

    //     > :last-child {
    //         background: color(text-brown);
    //         transform: translateX(-50%) scale(0);
    //     }
    // }


    input {
        // margin-top: rm(16);
        font-size: font(15);
        color: color(text-brown-38);
        @include font-work-regular;
        line-height: 140%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(370);
        background-color: transparent;
        // z-index: 1000;


        &:hover,
        &:focus,
        &:not(:placeholder-shown) {
            ~.inputDivider> :last-child {
                transform: translateX(-50%) scale(1);
            }
        }

        &::placeholder {
            font-size: font(15);
            color: color(text-brown);
            @include font-work-regular;
            line-height: 140%;
        }

    }

    .contactsInput {
        // padding: rm(12) rm(0) rm(24) rm(0);
    }

    .input {
        padding: rm(24) rm(0) rm(24) rm(32);
    }
}

.wrapperInput {
    position: relative;
    display: flex;
    align-items: center;
}