.wrapperTexture {
    // position: absolute;
    // left: 0;
    // top: 0;
    // // background: url(../../../public/texture.png), lightgray 50% / cover no-repeat;
    // mix-blend-mode: overlay;
    // width: 100%;
    // height: 100%;
    // pointer-events: none; 
    // z-index: 994;
    // position: relative; 


}



.contentWrapper {
    position: relative;
    >:nth-child(1) {
        position: absolute;
        left: 0;
        top: 0;
        // background: url(../../../public/texture.png), lightgray 50% / cover no-repeat;
        mix-blend-mode: overlay;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 994;
    }
}