@use "../../../assets/styles/index.scss" as *;

.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    @include xsm{
        flex-direction: column;
    }
    .wrapperHeader {
        position: relative;
        flex: 1;
        >:last-child{
            opacity: 0;
            visibility: hidden;
            @include xsm{
                opacity: 1;
                visibility: visible
            }
        }
        h2 {
            @include font-dune-regular();
            color: color(text-brown-38);
            font-size: font(48);
            line-height: 120%;
            padding: rm(64);
            @include lg{
                font-size: font(40);
                padding-right: rm(48) !important;
            }
            @include xsm {
                font-size: font(32);
                padding: rm(32);
            }
        }
    }

    .wrapperTable {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;

        >:nth-child(1) {
            p {
                color: color(text-brown-38);
                @include font-work-regular();
                font-size: font(18) !important;
                text-transform: uppercase;
                font-weight: 600 !important;
                line-height: 160%
            }
        }

        .infoTable {
            position: relative;
            width: 100%;
            padding: rm(32) rm(64);
            @include xsm{
                padding: rm(32);
            }
            p{
                color: color(text-brown-38);
                @include font-work-regular();
                font-size: font(16);
                font-weight: 400;
                line-height: 160%
                
            }
            strong{
                color: color(text-brown-38);
                @include font-work-regular();
                font-size: font(16);
                font-weight: 700;
                line-height: 160% 
            }
        }
    }
}