@use "../../assets/styles/index.scss" as *;

.card{
    position: relative;
    width: rm(480);
    transition: background-color .6s ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &:hover{
        background-color: rgba(	234,	216,	177, .4);

        .imageContainer{
            img{
                transform: scale(1);
            }
        }
    }

    @include lg{
        width: rm(320);
    }

    @include md{
        width: rm(270);
    }

    @include xsm{
        width: rm(480);
    }

    .dividerBot{
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: color(text-yellow-90);
        bottom: rm(0);
        left: 0;
    }

    .title{
        padding: rm(64) rm(64) rm(0) rm(64);
        color: color(text-brown);
        font-size: font(24);
        @include font-work-regular;
        width: rm(352);
        line-height: 160%;
        font-weight: 600;

        @include lg{
            padding: rm(32) rm(32) rm(0) rm(32);
        }

        @include md{
            font-size: font(20);   
        }

        @include xsm{
             font-size: font(24);
        }
    }

    .imageContainer{
        position: relative;
        width: rm(480);
        height: rm(480);
        overflow: hidden;

        @include lg{
            width: rm(320);
            height: rm(320);
        }

        @include md{
            width: rm(270);
            height: rm(270);
        }

        @include xsm{
            width: rm(480);
            height: rm(480);
        }

        img{
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            transition: transform .6s ease-in-out;


            @include lg{
                width: rm(320);
                height: rm(320);
            }

            @include md{
                width: rm(270);
                height: rm(270);
            }

            @include xsm{
                width: rm(480);
                height: rm(480);
            }
        }

        .dividerTop{
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: color(text-yellow-90);
            top: 0;
            left: 0;
        }
    
        // .dividerBottom{
        //     position: absolute;
        //     width: 100%;
        //     height: 1px;
        //     background-color: color(text-yellow-90);
        //     bottom: rm(5);
        //     left: 0;
        // }
    }

    .dividerRight{
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: color(text-yellow-90);
        top: 0;
        right: 0;
    }

    // .dividerLeft{
    //     position: absolute;
    //     width: 1px;
    //     height: 100%;
    //     background-color: color(text-yellow-90);
    //     top: 0;
    //     left: 0;
    // }



    .first{
        color: color(text-brown);
        font-size: font(15);
        @include font-work-regular;
        width: rm(155);
        line-height: 160%;
        font-weight: 600;

        @include md{
            width: rm(145);
        }


        @include xsm{
            font-size: font(16);
            width: rm(155);
        }
    }

    .second{
        color: color(text-brown);
        @include font-work-regular;
        font-size: font(15);
        width: rm(197);
        line-height: 160%;

        @include xsm{
            font-size: font(16);
        }
    }

    .price{
        padding: rm(32) rm(64) rm(16) rm(64);
        display: flex;

        @include lg{
            padding: rm(32) rm(32) rm(32) rm(32);
        }

        @include md{
            padding: rm(16) rm(16) rm(16) rm(32);
        }
    }

    .bid{
        padding: rm(0) rm(64) rm(32) rm(64);
        display: flex;

        @include lg{
            padding: rm(0) rm(32) rm(32) rm(32);
        }

        @include md{
            padding: rm(0) rm(16) rm(16) rm(32);
        }
    }

    .user{
        padding: rm(0) rm(64) rm(64) rm(64);

        @include lg{
            padding: rm(0) rm(32) rm(32) rm(32);
        }

        div{
            display: flex;
            align-items: center;
        }

        img{
            width: rm(32);
            height: rm(32);

            @include md{
                width: rm(24);
                height: rm(24);
            }

            @include xsm{
                width: rm(32);
                height: rm(32);
            }
        }

        p{
            color: color(text-brown);
            font-size: font(15);
            @include font-work-regular;
            width: rm(155);
            line-height: 160%;
            font-weight: 500;
            margin-left: rm(16);

            @include xsm{
                font-size: font(16);
            }
        }
    }
}