@use '../../../../../assets/styles/index.scss' as *;

.categories{
    display: flex;

    .title{
        width: rm(160);
        font-size: font(16);
        @include font-work-regular;
        color: color(text-black);
        line-height: 160%;
        font-weight: 600;
    }

    .text{
        width: rm(344);
        font-size: font(16);
        @include font-work-regular;
        color: color(text-brown);
        line-height: 160%;
        display: flex;
        flex-direction: column;
        gap: rm(16);

        div{

            p{
                cursor: pointer;
            }

            &:hover{

                p{
            
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .numbers{
        font-size: font(16);
        @include font-work-regular;
        color: color(text-brown);
        line-height: 160%;
        display: flex;
        flex-direction: column;
        gap: rm(16);


        p{
            text-align: right;
        }
    }
}