@use '../../../../../assets/styles/index.scss' as *;

.payment{
    display: flex;

    @include xsm{
        flex-direction: column;
    }

    img{
        width: rm(480);
        height: rm(480);

        @include lg{
            width: rm(320);
            height: rm(320);
        }

        @include md{
            width: rm(270);
            height: rm(270);
        }

        @include xsm{
            width: rm(576);
            height: rm(576);
        }
    }
}