@use '../../../assets/styles/index.scss' as *;

.artist{
    display: flex;

    @include xsm{
        flex-direction: column;
    }

    .left{
        display: flex;
        flex-direction: column;
        position: relative;

        .dividerLeft{
            position: absolute;
            background-color: color(text-yellow-90);
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;

            @include xsm{
                display: none;
            }
        }

        .info{
            width: rm(480);
            display: flex;
            flex-direction: column;
            padding: rm(64);

            @include xsm{
                width: rm(576);
            }

            .name{
                color: color(text-black);
                font-size: font(24);
                @include font-dune-regular;
                line-height: 120%;
                margin-bottom: rm(16);
            }

            .spec{
                color: color(text-brown);
                font-size: font(14);
                line-height: 140%;
                font-style: italic;
                @include font-work-regular;
                margin-bottom: rm(32);
            }

            .text{
                color: color(text-brown);
                font-size: font(15);
                line-height: 160%;
                @include font-work-regular;
            }

            .container{
                display: flex;
                flex-direction: column;
                gap: rm(20);
            }
        }

        img{
            width: rm(480);
            height: rm(480);

            @include xsm{
                width: rm(576);
                height: rm(576);
            }
        }

    }

    .right{
        width: 100%;
    }
}