@use '../../../../../assets/styles/index.scss' as *;

.graph{
    width: 100%;
    display: flex;

    .left{
        width: 75%;
        padding: rm(64);

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: rm(32);

            .title{
                @include font-dune-regular;
                font-size: font(32);
                color: color(text-black);
                line-height: 120%;
            }

            .calendar{
                color: color(text-brown);
                @include font-work-regular;
                display: flex;
                padding: rm(16);
                border: 1px color(text-yellow-90) solid;
                cursor: pointer;
                transition: background-color .6s ease-in-out;


                &:hover{
                    background-color: rgba(	234,	216,	177, .4);
                }

                p{
                    font-size: font(18);
                    margin-right: rm(85);
                }

                span{
                    width: rm(24);
                    height: rm(24);
                }
            }
        }

        canvas{
            height: rm(597) !important;
        }
    }

    .right {
        width: 25%;
        position: relative;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            width: rm(480);
            height: 100%;
        }
    }
}