@use '../../../../../assets/styles/index.scss' as *;

.graph{
    width: 100%;
    display: flex;


    .calendarContainer{
        position: absolute;
        top: 100%;
        display: none;
        left: 0;
        width: 100%;
    }

    .calendar{
        &:hover{

            .calendarContainer{
                display: inline-block;
                padding: rm(10);
                border: 1px color(text-yellow-90) solid;
                z-index: 10421;
                background-color: color(bg);
                color: color(text-brown);

                >:nth-child(2){
                    font-size: font(18);

                    >:nth-child(1){

                        >:nth-child(1){

                            >:nth-child(1){

                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                >:nth-child(1){
                                    display: flex;
                                    gap: rm(4);
                                    margin-right: rm(25);
                                    margin-bottom: rm(20);
                                    font-size: font(14);
                                    @include font-dune-regular;
                                    font-weight: 600;
                                }

                                >:nth-child(2){
                                    row-gap: rm(5);
                                }

                            }
                        }
                    }
                }

                >:nth-child(1){
                    display: flex;
                    justify-content: space-around;
                    font-size: font(18);
                    // align-items: center;
                    margin-bottom: rm(20);


                    >:nth-child(3){
                        flex-grow: 0;
                        font-size: font(18) !important;
                        width: rm(200) !important;
                        margin-bottom: rm(-8);
                        @include font-work-regular;

                        span{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }

    .left{
        width: 75%;
        padding: rm(64);

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: rm(32);

            .title{
                @include font-dune-regular;
                font-size: font(32);
                color: color(text-black);
                line-height: 120%;
            }

            .calendar{
                color: color(text-brown);
                @include font-work-regular;
                display: flex;
                padding: rm(16);
                border: 1px color(text-yellow-90) solid;
                cursor: pointer;
                transition: background-color .6s ease-in-out;
                position: relative;


                &:hover{
                    background-color: rgba(	234,	216,	177, .4);
                }

                p{
                    font-size: font(18);
                    margin-right: rm(85);
                }

                span{
                    width: rm(24);
                    height: rm(24);
                }
            }
        }

        canvas{
            height: rm(597) !important;
        }
    }

    .right {
        width: 25%;
        position: relative;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            width: rm(480);
            height: 100%;
        }
    }
}