@use "../../../assets/styles/index.scss" as *;

.wrapper {
    position: relative;
    width: 100%;
    // padding-top: rm(240);
    // padding-bottom: rm(240);
    overflow: hidden;
    background-color: color(burgundyBg);
    height: rm(630);
    display: flex;
    align-items: center;
    justify-content: center;

    >:last-child {
        opacity: 1 !important;
    }

    // >:nth-child(1){
    //     opacity: 0.5 !important;
    // }
    // &:hover{
    //     .activeHover{
    //         opacity: 1 !important;
    //         transition: opacity ease 0.3s;
    //     }
    //     .wrapperInfoText{
    //         &::after{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //         &::before{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //     }
    //     .wpapperCircle{
    //         &::after{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //         &::before{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //     }
    // }

    @include xsm {
        // padding-top: rm(120);
        // padding-bottom: rm(120);
        height: rm(576);
    }

}

.wrapperInfoText {
    position: relative;
    width: rm(960);

    display: flex;
    align-items: center;
    justify-content: center;

    // overflow: hidden;
    >:nth-child(1) {
        height: 100vh !important;
        top: -100% !important;
    }

    >:nth-child(2) {
        height: 100vh !important;
        top: -100% !important;
    }

    &::after {
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        opacity: 0.5;
        // background: linear-gradient(270deg, rgba(136, 121, 97, 0.25) 0%, #887961 50%, rgba(136, 121, 97, 0.25) 100%);
        background-color: color(text-brown-88);
        top: 0;
        right: 0;
        z-index: 2;
        transition: opacity ease 0.3s;

        @include xsm {
            opacity: 0;
            visibility: hidden;
        }
    }

    &::before {
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        opacity: 0.5;
        // background: linear-gradient(270deg, rgba(136, 121, 97, 0.25) 0%, #887961 50%, rgba(136, 121, 97, 0.25) 100%);
        background-color: color(text-brown-88);
        bottom: 0;
        right: 0;
        z-index: 2;
        transition: opacity ease 0.3s;

        @include xsm {
            opacity: 0;
            visibility: hidden;
        }
    }



}

.activeHover {
    opacity: 0.5;
    transition: opacity ease 0.3s;
}

.containerText {
    position: relative;
    width: rm(800);
    display: flex;
    flex-direction: column;
    padding-top: rm(65);
    padding-bottom: rm(65);
    align-items: center;

    @include xsm {
        width: 100%;
    }

    // &:hover{
    //     .activeHover{
    //         opacity: 1 !important;
    //         transition: opacity ease 0.3s;
    //     }
    //     .wrapperInfoText{
    //         &::after{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //         &::before{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //     }
    //     .wpapperCircle{
    //         &::after{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //         &::before{
    //             opacity: 1 !important;
    //         transition: opacity ease 0.3s;

    //         }
    //     }
    // }



    // >:nth-child(1) {
    //     height: 100vh !important;
    //     top: -100% !important;
    // }

    // >:nth-child(2) {
    //     height: 100vh !important;
    //     bottom: -100% !important;
    // } 

    h2 {
        @include font-dune-regular();
        color: color(text-brown-88);
        text-align: center;
        text-transform: uppercase;
        line-height: 120%;
        font-size: font(48);
        padding-left: rm(60);
        padding-right: rm(60);

        @include xsm {
            font-size: font(32);
            padding-left: rm(32);
            padding-right: rm(32);
            font-weight: 400;
        }
    }

    p {
        margin-top: rm(20);
        text-align: center;
        align-self: stretch;
        color: color(text-brown-88);
        @include font-work-regular();
        font-size: font(16);
        line-height: 160%;
        font-weight: 400;
        padding-left: rm(60);
        padding-right: rm(60);

        @include xsm {
            padding-left: rm(32);
            padding-right: rm(32);
        }
    }
}

.wpapperCircle {
    position: absolute;
    left: 50%;
    top: 0;
    // height: 100%;
    height: fit-content;
    width: rm(630);
    transform: translate(-50%, 0);
    pointer-events: none;

    @include xsm {
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &::after {
        display: block;
        width: 1px;
        height: 100%;
        content: '';
        position: absolute;
        opacity: 0.5;
        // background: linear-gradient(270deg, rgba(136, 121, 97, 0.25) 0%, #887961 50%, rgba(136, 121, 97, 0.25) 100%);
        background-color: color(text-brown-88);
        // bottom: -100%;
        top: 0;
        left: 0;
        z-index: 2;
        transition: opacity ease 0.3s;

        @include xsm {
            opacity: 0;
            visibility: hidden;
        }
    }

    &::before {
        display: block;
        width: 1px;
        height: 100%;
        content: '';
        position: absolute;
        opacity: 0.5;
        // background: linear-gradient(270deg, rgba(136, 121, 97, 0.25) 0%, #887961 50%, rgba(136, 121, 97, 0.25) 100%);
        background-color: color(text-brown-88);
        // top: -100%;
        top: 0;
        right: 0;
        z-index: 2;
        transition: opacity ease 0.3s;

        @include xsm {
            opacity: 0;
            visibility: hidden;
        }
    }

    >:nth-child(1) {
        // position: absolute;
        // left: 0;
        // top: 0;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: fill;

    }

    >:nth-child(2) {
        position: absolute;
        left: 0;
        top: 50%;
        width: rm(300);
        height: rm(300);
        transform: translate(0, -50%);

        @include xsm {
            width: rm(300);
            height: rm(300);
        }
    }

    >:nth-child(3) {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: rm(300);
        height: rm(300);
        transform: translate(-50%, 0);

        @include xsm {
            width: rm(300);
            height: rm(300);
        }
    }

    >:nth-child(4) {
        position: absolute;
        right: 0;
        top: 50%;
        width: rm(300);
        height: rm(300);
        transform: translate(0, -50%);

        @include xsm {
            width: rm(300);
            height: rm(300);
        }
    }

    >:nth-child(5) {
        position: absolute;
        left: 50%;
        top: 0;
        width: rm(300);
        height: rm(300);
        transform: translate(-50%, 0);

        @include xsm {
            width: rm(300);
            height: rm(300);
        }
    }
}

.button {
    position: relative;
    padding: rm(13) rm(30);
    color: color(text-brown-88);
    font-size: font(16);
    @include font-work-regular();
    font-weight: 600;
    line-height: 140%;
    // background-color: color(text-black);
    border: rm(0.5) solid color(text-brown-88);
    width: fit-content;
    margin-top: rm(30);
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease 0.3s;

    &:hover {
        background-color: color(bg-black);
        transition: background-color ease 0.3s;
    }
}

.wrapperInfoText:hover {

    &::after {
        opacity: 1 !important;
        transition: opacity ease 0.3s;

    }

    &::before {
        opacity: 1 !important;
        transition: opacity ease 0.3s;

    }

    ~.wpapperCircle {
        &::after {
            opacity: 1 !important;
            transition: opacity ease 0.3s;

        }

        &::before {
            opacity: 1 !important;
            transition: opacity ease 0.3s;

        }

        .activeHover {
            opacity: 1 !important;
            transition: opacity ease 0.3s;
        }
    }
}
