@use "../../../../assets/styles/index.scss" as *;

.carahunge{
    display: flex;
    padding: rm(64);
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    @include xsm{
        flex-direction: column;
        padding: rm(32);
    }

    .divider{
        width: 1px;
        height: 100.7%;
        top: rm(-4);
        left: 50%;
        background-color: color(text-yellow-90);
        position: absolute;

        @include xsm{
            width: 100%;
            height: 1px;
            top: rm(135);
            left: 0;
        }
    }

    .left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p:first-child{
            @include font-dune-regular;
            color: color(text-black);
            font-size: font(48);
            margin-bottom: rm(16);

            @include md{
                font-size: font(40);
            }

            @include xsm{
                font-size: font(32);
            }
        }

        p:last-child{
            @include font-work-regular;
            font-size: font(16);
            color: color(text-brown);
            font-style: italic;

            @include xsm{
                font-size: font(14);
                margin-bottom: rm(64);
            }
        }
    }
}