@use "../../../../../../assets/styles/index.scss" as *;


.details{
    display: flex;
    flex-direction: column;
    padding: rm(64);

    @include xsm{
        padding: 0;
    }

    .avatar{
        display: flex;
        margin-bottom: rm(32);

        p{
            width: rm(155);
            color: color(text-black);
            font-size: font(16);
            line-height: 160%;
            @include font-work-regular;
            font-weight: 600;
        }

        img{
            width: rm(240);
            height: rm(240);
        }
    }


    button{
        font-size: font(16);
        position: relative;
        color: color(text-brown);
        @include font-work-regular;
        line-height: 140%;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #EAD8B1;
        height: rm(60);
        font-weight: 600;
        transition: background-color .7s ease;
        z-index: 1000;

        &:hover{
            background-color: rgba(	234,	216,	177, .4);
        }
    }

    .footer{
        display: flex;
        // align-items: center;
        margin-top: rm(16);
        gap: rm(16);


        >:last-child{
            height: rm(60);
        }
    }

    .switches{
        display: flex;
        align-items: center;
        margin-bottom: rm(32);

        p{
            width: rm(155);
            color: color(text-black);
            font-size: font(16);
            line-height: 160%;
            @include font-work-regular;
            font-weight: 600;
        }
    }

    .section{
        display: flex;
        align-items: center;

        .checks{
            display: flex;
            margin-bottom: rm(30);
            gap: rm(16);

            >:first-child{
                display: flex;
                gap: rm(4);
            }

            >:last-child{
                display: flex;
                gap: rm(4);
            }

            p{
                font-size: font(16);
                color: color(text-brown);
                @include font-work-regular;
                line-height: 140%;
            }
        }

        .inputi{
            width: 100%;

            input{
                width: 100% !important;
            }
        }

        .inputs{
            width: 100%;
            display: flex;
            gap: rm(16);

            >:first-child{
                input{
                    width: 50% !important;
                }
            }

            >:last-child{
                input{
                    width: 50% !important;
                }
            }


            input{
                margin-top: rm(-10);
                padding-bottom: rm(16);
            }
        }

        >:first-child{
            p{
                width: rm(155);
                color: color(text-black);
                font-size: font(16);
                line-height: 160%;
                margin-bottom: rm(32);
                @include font-work-regular;
                font-weight: 600;
            }
        }

        .info{
            color: color(text-brown);
            font-size: font(16);
            line-height: 160%;
            @include font-work-regular;

        }

        .verification{
            display: flex;
            margin-left: rm(10);

            :first-child{
                margin-top: rm(1);
                span{
                    width: rm(18);
                    height: rm(18);
                }
            }

            :last-child{

                p{
                    font-size: font(14);
                    @include font-work-regular;
                    line-height: 140%;
                    color: color(text-brown);
                    margin-left: rm(4);
                }
            }
        }
    }

}