@use "../../../../assets/styles/index.scss" as *;

.main{
    position: relative;
    width: rm(1920);
    height: rm(800);

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}