@use "../../../../assets/styles/index.scss" as *;

.main{
    position: relative;
    height: rm(800);
    padding-top: rm(522);
    padding-left: rm(64);

    @include xsm{
        padding-top: rm(220);
        padding-left: rm(32);
        height: rm(600);
    }


    p{
        color: color(bg);
        font-size: font(56);
        @include font-dune-regular;
        line-height: 120%;
        z-index: 10000;
        position: relative;
        width: rm(895);

        @include xsm{
            width: rm(520);
            text-align: center;
        }

    }

    .explorerImage{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
        }
    }
}