@use "../../../../assets/styles/index.scss" as *;

.main{
    position: relative;
    // height: rm(800);
    // padding-top: rm(522);
    // padding-left: rm(64);
    display: flex;
    // width: 100%;
    height: 100vh;
    margin-bottom: rm(-3);
    z-index: 993;
    @include xsm{
        height: 100%;
    }





    .swiperSlide{
        >:last-child{
            position: absolute;
            // top: rm(500);
            bottom: rm(64);
            left: rm(100);
            z-index: 10000;

            @include lg{
                // top: 60%;
            }

            @include md{
                // top: 60%;
            }

            @include xsm{
                // top: 45%;
                // left: rm(30);
                bottom: 0 !important;
                left: rm(32);
                bottom: rm(32) !important;
                // transform: translate(-50%, -50%) !important;
            }
            
            p{
                color: color(bg);
                font-size: font(56);
                @include font-dune-regular;
                line-height: 120%;
                z-index: 10000;
                width: rm(895);
        
                @include xsm{
                    width: rm(520);
                    // text-align: center;
                }
        
            }
        }
    }

    .wrapperMedia{
        position: relative;
        // width: rm(1900);
        width: 100%;
        min-width: rm(1980);
        // height: rm(720);
        height: 100vh;
        @include lg{
            min-width: rm(1440);
        }
        @include md{
            min-width: rm(1080);
        }
        @include xsm{
        height: rm(720);
            min-width: rm(576);
        }
        
        >:nth-child(1){
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .explorerImage{
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;

    //     img{
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         transform: translate(-50%, -50%);
    //     }
    // }
}