@use "../../assets/styles/index.scss" as *;

.comment{
    position: relative;
    transition: background-color .3s ease-in-out;
    padding: rm(64);
    height: 100%;

    @include xsm{
        padding: rm(32);
    }

    &:hover{
        background-color: rgba(	234,	216,	177, .4);
        cursor: pointer;
    }

    >:nth-child(1){
        position: absolute;
        background-color: color(text-yellow-90);
        width: 100%;
        height: 1px;
        bottom: 0 !important;
        left: 0 !important;

        // @include xsm{
        //     display: none;
        // }
    }

    .deleter{
        display: none;
    }

    .dividerBottomNews{

        @include xsm{
            background-color: color(text-yellow-90);
            width: 120%;
            height: 1px;
            position: absolute;
            bottom: rm(-32);
            left: rm(-50);
        }
    }

    .newsContainer{
        width: 100%;
        margin-top: rm(32);

        @include xsm{
            margin-bottom: rm(32);
        }
    }

    .commentContainer{
        width: rm(640);

        @include lg{
            width: rm(530);
        }

        @include md{
            width: rm(430);
        }

        @include xsm{
            width: 100%;
        }
    }

    .title{
        color: color(text-black);
        font-size: font(22);
        @include font-work-regular;
        font-weight: 600;
        margin-bottom: rm(16);
        line-height: 130%;

        @include lg{
            font-size: font(18);
        }
    }

    .text{
        color: color(text-brown);
        font-size: font(15);
        @include font-work-regular;
        margin-bottom: rm(24);
        line-height: 160%;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include lg{
            font-size: font(14);
        }

        @include xsm{
            font-size: font(15);
        }
    }

}