@use "../../../../../assets/styles/index.scss" as *;

.founder{
    display: flex;
    position: relative;

    .topDivider{

        @include lg{
            position: absolute;
            left: 0;
            top: rm(-32);
            background-color: color(text-yellow-90);
            width: 100%;
            height: 1px;
        }
    }

    img{
        width: rm(80);
        height: rm(80);
        margin-right: rm(64);
        margin-left: rm(64);

        @include xsm{
            width: rm(48);
            height: rm(48);
            margin-left: rm(32);
            margin-right: rm(32);
        }
    }

    div{

        p{
            color: color(text-brown);
            line-height: 160%;
            font-size: font(18);
            @include font-work-regular;

        }


        &:first-child{
            margin-bottom: rm(32);
            width: rm(774);

            @include md{
                width: rm(436);
                margin-bottom: rm(16);
            }
        }

        &:last-child{
            p{
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    
}