@use '../../../../../../assets/styles/index.scss' as *;

.staking{

    padding: rm(64);
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    @include md{
        padding: rm(32);
    }

    .dividerLeft{
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: color(text-yellow-90);
        top: 0;
        left: 0;
    }

    .title{
        font-size: font(32);
        color: color(text-black);
        @include font-dune-regular;
        line-height: 120%;
        margin-bottom: rm(24);
    }

    .choose{
        margin-bottom: rm(24);
        margin-top: rm(32);

        @include md{
            margin-top: rm(32);
        }

        .chooseContainer{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: rm(16) 0;

            .text{
                display: flex;
                flex-direction: column;

                p{
                    color: color(text-brown);
                    @include font-work-regular;
                    line-height: 140%;
                }

                >:first-child{
                    font-size: font(18);
                    font-weight: 600;
                }

                >:last-child{
                    font-size: font(14);
                    margin-top: rm(4);
                }
            }

            .spanContainer{
                cursor: pointer;

                span{
                    width: rm(32);
                    height: rm(32);
                }
            }
        }

    }

    .buttons{
        display: flex;
        
        >:first-child{
            width: 50%;
        }

        .buttonWhite{
            font-size: font(16);
            position: relative;
            color: color(text-brown);
            @include font-work-regular;
            line-height: 140%;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            width: 50%;
            border: 1px solid #EAD8B1;
            font-weight: 600;
            transition: background-color .7s ease;
            z-index: 1000;
    
            &:hover{
                background-color: rgba(	234,	216,	177, .4);
            }
        }
    }

    .selectStyles{
        background-color: color(bg) !important;
        font-size: font(15);
        color: color(text-brown);
        padding-left: rm(0);
        margin-bottom: rm(15);
        border-color: color(bg);
        cursor: pointer;
    
    
        @include md{
            margin-bottom: rm(10);
        }
    
        @include xsm{
            width: 70%;
        }

    
    
        >:nth-child(3){
            box-shadow: none;
            border: 1px solid color(text-yellow-90);
            padding: rm(8) rm(16);
            border-radius: 0;

    
            >:nth-child(2){
    
                >:nth-child(1){
                    display: none;
                }
    
                >:nth-child(2){
                    color: color(text-black);
                    transition: transform .6s ease-in-out;
                }
            }
    
    
            >:nth-child(1){
                padding-left: rm(0);
    
                >:nth-child(1){
                    color: color(text-brown) !important;
                }
    
                >:nth-child(2){
                    padding: rm(0);
                }
            }
        }
    
        >:nth-child(4){
            background-color: color(bg);
    
            >:nth-child(1){
    
                div{
                    background-color: transparent;
                    cursor: pointer;
                    transition: background-color .7s ease-in-out;
                    padding-left: rm(20);
    
                    @include lg{
                        padding-left: rm(23);
                    }
        
    
                    &:hover{
                         background-color: rgba(	234,	216,	177, .4);
                    }
                }
            }
        }
    }
}