@use '../../../../../assets/styles/index.scss' as *;

.inputBlock{
    width: rm(416);
    margin: rm(32) rm(64) rm(32) rm(64);
    gap: rm(16);
    display: flex;

    >:first-child{
        width: rm(240);

        input{
            padding: rm(16) rm(0) rm(16) rm(32);
            margin-top: rm(-3);
            width: rm(240);
        }
    }

    >:last-child{
        height: rm(53);
    }
}