@use "../../../assets/styles/index.scss" as *;

.main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: rm(136) 0;
    background-color: color(bg-1);
    // z-index: 999;
    &::before {
        content: '';
        background-image: url('/texture.png') !important;
        position: absolute;
        left: 0;
        top: 0;
        mix-blend-mode: overlay;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }

    @include xsm {
        padding: rm(32) 0;
        justify-content: flex-start;
    }

    .right {
        position: relative;
        padding: 0 rm(64);

        >div {
            position: relative;
            display: flex;
            justify-content: flex-start;
            gap: rm(120);
            width: fit-content;
            @include xsm {
                margin-bottom: rm(32);
            }
        }

        @include xsm {
            padding: 0 rm(32);
            overflow-x: auto;
            width: 100vw;
            max-width: 100vw;
        }


        div {
            // margin-bottom: rm(64);

            // @include xsm {
            //     margin-bottom: rm(32);
            // }
        }

        >div>div:last-child {
            margin-bottom: 0;
        }

        .divider {
            position: absolute;
            width: 100%;
            background-color: #EAD8B1;
            height: rm(1);
            top: rm(83.2);
            left: rm(3); 
            @include lg{
                top: rm(68.8); 
            }
            @include md{ 
                top: rm(83.2); 
            }
        }
    }


    .left {
        color: color(text-brown-38);
        will-change: transform;
        margin-bottom: rm(64);

        padding-left: rm(64);
        width: 100vw;
        padding-right: rm(64);
        @include md {
            margin-bottom: rm(64);
            padding-right: rm(32);
        }

        @include xsm {
            padding-left: rm(32);
            margin-bottom: rm(32);
        }

        span {
            font-weight: 600;
        }

        p {
            font-size: font(24);
            line-height: 160%;
            @include font-work-regular();
            // max-width: rm(900);
            width: 100%;
            font-weight: 400;
            white-space: pre-wrap;
            span {
                font-weight: 400;
            }

            @include lg {
                font-size: font(20);
            }

            @include md {
                font-size: font(20);
                white-space: inherit;
                max-width: 80vw;
            }

            @include xsm {
                font-size: font(16);
                max-width: 90vw;
            }
        }


        div:first-child {
            p:first-child {
                font-size: font(64);
                line-height: 140%;
                @include font-dune-regular();
                margin-bottom: rm(32);
                font-weight: 400;
                // text-transform: uppercase;
                // margin-bottom: rm(200);

                @include lg {
                    font-size: font(48);
                }

                @include md {
                    font-size: font(48);
                }

                @include xsm {
                    font-size: font(32);
                }
            }
        }

    }
}