@use "../../../../../assets/styles/index.scss" as *;


.navigation{
    display: flex;
    padding-right: rm(64);
    padding-left: rm(64);
    position: relative;

    @include xsm{
        padding: rm(0);
    }

    .active{
        background-color: rgba(	234,	216,	177, .4);
    }

    .link{
        width: 20%;

        >:nth-child(1){
            width: 100%;
        }
    }

    .dividerTop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(text-brown-85);
    }

    .dividerBottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(text-brown-85);
    }
}