@use "../../../../../assets/styles/index.scss" as *;

.userCard{
    display: flex;
    width: 100%;
    font-size: font(18);
    color: color(text-brown);
    line-height: 120%;
    @include font-work-regular;

    @include md{
        font-size: font(14);
    }

    @include xsm{
        font-size: font(18);
    }



    div{
        border: 0.5px color(text-yellow-90) solid;
    }

    .hovered{
        transition: background-color .4s ease-in-out;

        span{
            transition: transform .4s ease-in-out;
        }

        &:hover{
            background-color: rgba(	234,	216,	177, .4);

            span{
                transform: rotate(180deg);
            }
        }
    }

    >:nth-child(1){
        padding: rm(20);

        span{
            height: rm(24);
            width: rm(24);
        }
    }

    >:nth-child(2){
        display: flex;
        align-items: center;
        gap: rm(16);
        padding: rm(16) rm(32);
        width: rm(265);

        @include lg{
            gap: rm(8);
            padding: rm(16) rm(16);
        }

        @include md{
            font-size: font(12);
        }

        @include xsm{
            font-size: font(18);
        }

        img{
            width: rm(32);
            height: rm(32);

            @include md{
                width: rm(24);
                height: rm(24);
            }

            @include xsm{
                width: rm(32);
                height: rm(32);
            }
        }

    }

    >:nth-child(3){
        padding: rm(19.5) rm(32);
        display: flex;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(4){
        padding: rm(19.5) rm(32);
        display: flex;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(5){
        padding: rm(19.5) rm(32);
        display: flex;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(6){
        padding: rm(19.5) rm(32);
        display: flex;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(7){
        padding: rm(19.5) rm(32);
        display: flex;
        width: rm(265);

    }

    >:nth-child(8){
        padding: rm(19.5) rm(32);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: rm(265);


        span{
            width: rm(24);
            height: rm(24);
        }
    }

    .weight{
        font-weight: 600;
    }

}