@use "../../../../../assets/styles/index.scss" as *;

.userCard{
    display: flex;
    width: 100%;
    font-size: font(18);
    color: color(text-brown);
    line-height: 120%;
    @include font-work-regular;

    div{
        border: 0.5px color(text-yellow-90) solid;
    }

    >:nth-child(1){
        padding: rm(20);

        span{
            height: rm(24);
            width: rm(24);
        }
    }

    >:nth-child(2){
        display: flex;
        align-items: center;
        gap: rm(16);
        padding: rm(16) rm(32);
        width: rm(265);

        img{
            width: rm(32);
            height: rm(32);
        }

    }

    >:nth-child(3){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(4){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(5){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(6){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(7){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    >:nth-child(8){
        padding: rm(19.5) rm(32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rm(265);

    }

    .weight{
        font-weight: 600;
    }

}