@use '../../../../../assets/styles/index.scss' as *;

.cards{
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;


    @include xsm{
        flex-direction: column;
    }

    >:first-child{
        position: absolute;
        background-color: color(text-yellow-90);
        height: 1px;
        width: 100%;
        left: 0;
        top: 0;
    }
}