@use "../../../../assets/styles/index.scss" as *;

.lobby{
    position: relative;
    width: 100%;
    height: 100vh;
    // padding-top: rm(215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    will-change: transform;

    @include xsm{
        height: rm(640);
        // padding-top: rm(40);
    }

    .svgCircle{
        width: rm(125);
        height: rm(125);
        position: relative;

        svg{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    // >:nth-child(1){
    //     position: absolute;
    //     width: 100%;
    //     height: 120%;
    //     object-fit: cover;
    //     left: 0;
    //     top: 0;
    // }

    .title{
        z-index: 100;
        font-size: font(64);
        color: color(bg);
        line-height: 120%;
        @include font-dune-regular;
        margin-bottom: rm(48);

        @include xsm{
            font-size: font(48);
        }
    }

    .imageContainer{
        width: 100%;
        height: 100%;
        position: absolute;



        img{
            position: absolute;
            width: 100%;
            height: 120%;
            object-fit: cover;
            top: -19%;
            left: 0;
            // transform: translate(-50%, -50%);
        }
    }

    .container{
        z-index: 100;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .loader{
            width: rm(128);
            height: rm(128);
            position: relative;
            margin-bottom: rm(20);

            .circleBig{
                position: absolute;
                width: rm(128);
                height: rm(128);
                border-radius: rm(100);
                border: 1px solid color(text-yellow-90);
            }

            .circleLittle{
                position: absolute;
                width: rm(122);
                height: rm(122);
                border-radius: rm(100);
                border: 1px solid color(text-yellow-90);
                opacity: 0.5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .firstLine{
                position: absolute;
                width: rm(122);
                height: 1px;
                background-color: color(text-yellow-90);
                opacity: 0.25;
                top: 95%;
                left: 50%;
                transform: translate(-68%, -50%);
                rotate: 45deg;
            }

            .secondLine{
                position: absolute;
                width: rm(122);
                height: 1px;
                background-color: color(text-yellow-90);
                opacity: 0.25;
                top: 5%;
                left: 50%;
                transform: translate(-68%, -50%);
                rotate: -45deg;
            }

            .circle {
                --borderW: 0.1px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: inline-grid;
                place-content: center;
                width: rm(126);
                height: rm(126);
                aspect-ratio: 1;
                border-radius: 50%;
              }

              .circle::before {
                content: "";
                position: absolute;
                inset: calc(-1*var(--borderW));
                clip-path: polygon(50% 50%, 50% -21%, 121% 50%, 121% 50%, 121% 50%, 121% 50%);
                border: solid color(text-yellow-90) ;
                border-radius: 50%;
                animation: progress 1.5s cubic-bezier(.25, .4, .75, .6) paused forwards;
              }
              .circle:hover::before {
                animation-play-state: running;
              }


              .circle:hover{
                cursor: none;
              }

              @keyframes progress {
                //   0% { clip-path: polygon(50% 50%, 50% -21%, 50% -21%, 50% -21%, 50% -21%, 50% -21%); }
                 25% { clip-path: polygon(50% 50%, 50% -21%, 121% 50%, 121% 50%, 121% 50%, 121% 50%); }
                 50% { clip-path: polygon(50% 50%, 50% -21%, 121% 50%, 50% 121%, 50% 121%, 50% 121%); }
                 75% { clip-path: polygon(50% 50%, 50% -21%, 121% 50%, 50% 121%, -21% 50%, -21% 50%); }
                100% { clip-path: polygon(50% 50%, 50% -21%, 121% 50%, 50% 121%, -21% 50%, 50% -21%);}
              }


        }

        >:last-child{
            div{
                p{  
                    font-size: font(12);
                    @include font-work-regular;
                    line-height: 120%;
                    letter-spacing: 1%;
                    width: rm(106);
                    color: color(bg);
                    text-transform: uppercase;
                    text-align: center;
                    cursor: pointer;
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
        
                    &:hover{
                        opacity: 0.7;
                    }
                }   

                @include xsm{
                    position: absolute;
                    top: rm(140);
                    right: 9%;
                }
            }
        }
    }
}