@use "../../../../assets/styles/index.scss" as *;


.videos{
    display: flex;
    align-items: center;

    @include xsm{
        flex-direction: column;
    }

    img{
        width: rm(640);
        height: rm(640);

        @include lg{
            width: rm(425);
            height: rm(425);
        }

        @include md{
            width: rm(355);
            height: rm(355);
        }

        @include xsm{
            width: rm(640);
            height: rm(640);
        }
    }
}