@use "@/assets/styles/index.scss" as *;


.contaimer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rm(70) rm(630);
    overflow: hidden;
    @include lg{
        padding:rm(64);
    }
    @include xsm{
        padding: rm(32);
    }
    >:nth-child(1){
        @include font-dune-regular();
        color: color(text-brown-38);
        font-size: font(32);
        font-weight: 400;
        line-height: 120%;
        // text-transform: uppercase;
        width: rm(700);
        text-align: center;
        @include xsm{
            width: rm(576);
        }
    }
    >:nth-child(2){
        @include font-work-regular();
        color: color(text-brown-38);
        font-size: font(16);
        font-weight: 400;
        line-height: 160%;
        padding-top: rm(32);
        width: rm(700);
        text-align: center;
        @include xsm{
            width: rm(576);
        }
    }
}