@use "../../../assets/styles/index.scss" as *;

.creatures{
    // height: rm(800);
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include xsm{
        flex-direction: column;
    }

    // div{
    //     width: rm(355);
        
    //     >:nth-child(3){
    //         padding: rm(32) !important;

    //         >:nth-child(1){
    //             width: rm(64);
    //         }

    //     }

    //     >:nth-child(4){
    //         padding: rm(32) !important;
    //         padding-top: rm(0) !important;

    //         >:nth-child(1){
    //             width: rm(64);
    //         }
    //     }

    //     img{
    //         width: rm(360) !important;
    //         object-fit: cover;
    //     }
    // }

}