@use "../../../../../assets/styles/index.scss" as *;


.faces{
    display: flex;
    align-items: center;
    overflow: hidden;



    .mySwiper{
        height: rm(640);

        @include lg{
            height: rm(425);
        }

        @include md{
            height: rm(355);
        }

        @include xsm{
            height: rm(640);
        }
    }

    img{
        width: rm(640);
        height: rm(640);

        @include lg{
            width: rm(425);
            height: rm(425);
        }

        @include md{
            width: rm(360);
            height: rm(360);
        }

        @include xsm{
            width: rm(576);
            height: rm(576);
        }
    }
}