@use "../../../../../assets/styles/index.scss" as *;


.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: rm(64);
    padding-right: rm(64);

    @include xsm {
        padding-left: rm(32);
        padding-right: rm(32);
    }

    .wrapperTable {
        position: relative;
        width: 100%;
        display: grid;
        grid-template: 1fr/ 1fr 1fr 1fr;

        a {
            color: color(text-brown-38);
            font-size: font(18);
            @include font-work-regular();
            font-weight: 400;
            line-height: 140%;
            padding: rm(16) rm(32);
            cursor: pointer;
            transition: opacity ease 0.5s;
            opacity: 1;

            &:hover {
                opacity: 0.7;
                transition: opacity ease 0.5s;
            }
            @include xsm {
                padding: rm(16);
                font-size: font(16);
            }
        }

        p {
            color: color(text-brown-38);
            font-size: font(18);
            @include font-work-regular();
            font-weight: 400;
            line-height: 140%;
            padding: rm(16) rm(32);

            @include xsm {
                padding: rm(16);
                font-size: font(16);
            }
        }
    }

    .headerTable {
        font-size: font(20) !important;
        font-weight: 600 !important;

        @include xsm {
            font-size: font(16) !important;
        }
    }
}

.wrapperP {
    position: relative;
}

.wrapperloader{
    position: relative;
    min-height: rm(300);
    width: 100%;
    .loader {
        width: rm(48);
        height: rm(48);
        border: 5px solid color(text-brown-85);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);


        @include xsm{
            // top: 25%;
        }
    }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}