@use "../../../assets/styles/index.scss" as *;


.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: rm(64);
    min-height: rm(800);
    @include xsm {
        padding: rm(32);
    }
    .wrapperInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        width: rm(600);
        h2 {
            @include font-dune-regular();
            color: color(bg-1);
            font-size: font(32);
            font-weight: 400;
            line-height: 160%;
            // text-transform: uppercase;
        }
        p{
            @include font-work-regular();
            color: color(bg-1);
            font-size: font(16);
            font-weight: 400;
            line-height: 160%;
            white-space: pre-wrap;
            padding-top: rm(32);
        }
    }
}